<%= form_tag :hooks do %>
  <h2>Add Lintron to A Repo</h1>
  <div class='rev-InputGroup'>
    <input class='rev-Input' name="org" placeholder="Organization" value="revelrylabs" />
    <input class='rev-Input' name="repo" placeholder="Repo" />
    <button class='rev-Button rev-Button--small'>Hook 'em</button>
  </div>
<% end %>
