$background_color: #01021d;
$background_paper: #131426;
$primary_color: #116b9e;
$primary_color_accent: #f9a100;
$primary_color_accent_shadow: #d14405;
$white: #ffffff;
$sub_white: #efefef;
$black:#2d2d2d;
$light_black: #333333;
