<div id="footer-container">
			<footer id="footer">
								<article id="text-2" class="large-12 widget widget_text">			<div class="textwidget"><section class="dark map">
        <div class="row">
          <div class="columns small-12 medium-10 medium-centered">
            <h2>Get in Touch</h2>
            <div class="Location">
              <div class="columns medium-6 Location-info">
                <ul class="vcard">
                  <li class="fn"><h3>Revelry Labs LLC</h3></li>
                  <li class="street-address">4200 Canal Street, Suite E</li>
                  <li><span class="locality">New Orleans,</span> <span class="state">Louisiana</span> <span class="zip">70119</span><br>
                  <a href="https://www.google.com/maps/place/Revelry+Labs/@29.9755631,-90.1028012,17z/data=!3m1!4b1!4m2!3m1!1s0x8620af7d35598b77:0x166713c3f42a8ce" target="_blank">(View Map)</a></li>
                  <li class="email">Email: <a href="mailto:hello@revelry.co">hello@revelry.co</a></li>
                  <a href="https://revelry.youcanbook.me/" target="_blank">View Office Hours <i class="fa fa-chevron-right"></i></a>
                </ul>
              </div>
              <div class="columns medium-6 Location-work">
                <h3>Hire Us</h3>
                <p>Like what you see? Email us and we'll get back to you right away.</p>
                <a class="button center" href="/contact">Hire Us</a>
              </div>
            </div>
          </div>
        </div>
        </section></div>
		</article>				<article id="text-3" class="large-12 widget widget_text">			<div class="textwidget"><section class="yellow footer">
   <footer class="row">
     <div class="columns small-12 large-10 footer-left">
<a href="/" class="logo"><img src="http://3ulsmb4eg8vz37c0vz2si64j.wpengine.netdna-cdn.com/wp-content/uploads/2015/12/footer-logo.png" height="35" width="150" alt="Footer Logo"></a>
        <ul class="inline-list">
          <li><a href="/about/">About</a></li>
          <li><a href="/work/">Our Work</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/day-of-revelry/">Day of Revelry</a></li>
           <li><a href="http://codingcreativity.com/" target="_blank">Coding Creativity</a></li>
        </ul>
     </div>
     <div class="columns small-12 large-2">
      <div class="partners">
           <p>Partners with</p>
           <p><a href="http://www.louisianaentertainment.gov/" target="_blank"><img src="http://3ulsmb4eg8vz37c0vz2si64j.wpengine.netdna-cdn.com/wp-content/uploads/2016/01/led-logo.png" width="125"></a></p>
       </div>
     </div>
   </footer>
</section></div>
		</article>							</footer>
		</div>
