<div id="footer-container">
			<footer id="footer">
								<article id="text-2" class="rev-Col--large12 widget widget_text">			<div class="textwidget"><section class="dark map">
        <div class="rev-Row">
          <div class="rev-Col rev-Col--small12 rev-Col--medium10 rev-Col--mediumCentered">
            <h1>Get in Touch</h1>
            <div class="Location rev-Row rev-Row--collapse">
              <div class="rev-Col rev-Col--medium6 Location-info">
                <div class="fn"><h3>Revelry Labs LLC</h3></div>
                <div class="street-address">4200 Canal Street, Suite E</div>
                <div><span class="locality">New Orleans,</span> <span class="state">Louisiana</span> <span class="zip">70119</span></div>
                <a href="https://www.google.com/maps/place/Revelry+Labs/@29.9755631,-90.1028012,17z/data=!3m1!4b1!4m2!3m1!1s0x8620af7d35598b77:0x166713c3f42a8ce" target="_blank">(View Map)</a></li>
                <p>
                  Email: <a href="mailto:hello@revelry.co">hello@revelry.co</a>
                </p>
              </div>
              <div class="rev-Col rev-Col--medium6 Location-work">
                <h3>Hire Us</h3>
                <p>Like what you see? Email us and we'll get back to you right away.</p>
                <p class="right">
                  <a class="rev-Button rev-Button--secondary rev-Button--small" href="http://revelry.co/contact">Hire Us</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        </section></div>
		</article>				<article id="text-3" class="rev-Col--large12 widget widget_text">			<div class="textwidget"><section class="yellow footer">
   <footer class="rev-Row">
     <div class="rev-Col rev-Col--small12 rev-Col--large10 footer-left">
        <a href="http://revelry.co/" class="logo">
          <%= image_tag image_url('footer-logo.png'), height: 35, width: 150, alt: 'Footer Logo' %>
        </a>
        <ul class="inline-list">
          <li><a href="http://revelry.co/about/">About</a></li>
          <li><a href="http://revelry.co/work/">Our Work</a></li>
          <li><a href="http://revelry.co/blog/">Blog</a></li>
          <li><a href="http://revelry.co/contact/">Contact</a></li>
          <li><a href="http://revelry.co/day-of-revelry/">Day of Revelry</a></li>
           <li><a href="http://codingcreativity.com/" target="_blank">Coding Creativity</a></li>
        </ul>
     </div>
     <div class="rev-Col rev-Col--small12 rev-Col--large2">
      <div class="partners">
        <p>Partners with</p>
        <p>
          <a class="led-logo" href="http://www.louisianaentertainment.gov/" target="_blank"><%= image_tag image_url('led-logo.png'), width: 125 %></a>
        </p>
       </div>
     </div>
   </footer>
</section></div>
		</article>							</footer>
		</div>
